@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import './Components/Variables/Variables.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
// .head{
//   margin-top: 10px;
// }
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(232, 233, 237);
  border-radius: 10px;
}
.logo{
  color: white;
  font-size: 35px;
  font-weight: 900;
}
.sub-logo{
  color: white;
}
/*------------global-----------*/
.container {
  max-width: 85vw;
  margin:0 auto;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 8px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: $whitecolor;
  // background-color: rgba(235, 227, 227, 0.378);
 
  color: $greencolor;
  transition: 0.5s;
}
.bg{
  background-color: gray;
}
.icon:hover {
  cursor: pointer;
  background-color: rgba(235, 227, 227, 0.378);
  color:$whitecolor;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row {
  width: 50%;
}
.custome-button {
  padding: 17px 30px;
  background-color: #fff;
  color: #1eb2a6;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.09);
  transition: 0.5s;
}
.custome-button i {
  margin-left: 20px;
}
.custome-button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color: #1eb2a6;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}
p {
  line-height: 30px;
  font-size: 18px;
}

.back {
  // background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
 
  
}
.flex-2{
  display: flex;
  align-items: center;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}
.overflow{
  overflow-x: hidden;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgba(3, 3, 3, 0.06);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  // .grid2,
  // .grid3,
  // .grid {
  //   grid-template-columns: repeat(1, 1fr);
  //   justify-items: center;
  //   align-items: center;
  // }
  // .back {
  //   background-position: center;
  //   padding-top: 50%;
  //   height: 80vh;
  // }
}

@media only screen and(max-width:644px){
  .grid3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .grid {
    display: flex;
    flex-direction: column;
   
  }
  .flexSB {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
  .flex-2{
    display: flex;
    flex-direction: column;
  }
  .flex {
    display: flex;
   
    flex-direction: column;
  }
  .container{
    padding: 10px 0px;
  }
}
@media only screen and (min-device-width : 720px) and (max-device-width : 1280px){
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    // flex-wrap: wrap;
    // justify-content: center;
   
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .container{
    max-width: 85%;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .container{
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 992px) {
.grid{
  grid-template-columns: repeat(2, 1fr);
}

}